@import "variables.less";
@import "mixins.less";

//////////
// Form //
//////////

// button
a.btn, .inactive-btn, label.btn, form button, input[type="submit"], .Actions .action {
    background: @link-color;
    color: #fff;
    display: inline-block;
	.box-sizing();
    .border-radius(@base-line-height/4);
	padding:0 @base-line-height/2;
	line-height:@base-line-height;
    margin-bottom: @base-line-height/2;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    margin-right: @base-line-height/2;
	cursor:pointer;

	&:hover {
		background:@hover-color;
		color: #fff;
		text-decoration: none;
	}
	
	&.btn-big {
		font-size:1.2em;
		padding:@base-line-height/4 @base-line-height;
	}
}
.inactive-btn {
    background:@light-gray !important;
    color:@medium-gray !important;
}
a.btn {
    margin-bottom: @base-line-height/2;
}
a.btn.arrow:after {
    content: '\2192';
    padding-left: 10px;
}

// message 
// animation created with http://coveloping.com/tools/css-animation-generator

@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
		-webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

form .message, .ss-message {
	-webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
	-webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
	clear:both;
	background-color: #eee;
	padding:@base-line-height/4 @base-line-height/2;
	border: 1px solid #e8c805;
	.border-radius(@base-line-height/4);
	margin-bottom:@base-line-height/2-2px; //don't forget to substract border
	color:#000;

	&.good {
        background-color: @good-color;
        border-color: darken(@good-color,15%);
    }
	&.bad {
        background-color: @bad-color;
        border-color: darken(@bad-color,15%);
	}
	&.warning {
        background-color: @warning-color;
        border-color: darken(@warning-color,15%);
	}
	&.info {
		background-color: @info-color;
        border-color: darken(@info-color,15%);
	}
}

// form
form {
	.field {
		margin-bottom:@base-line-height /4*3;
		clear:both;
	}
	.middleColumn.fieldgroup {
	}
	.fieldgroup-field {
		display:inline-block;
		width:auto;
		margin-right:16px;
		margin-bottom:@base-line-height /4*3;
	}
	.col-left, .col-right {
		width:50%;
		float:left;
		.box-sizing();

		@media @small-screen-portrait {
			width:100%;
			float:auto;
			padding:0 !important;
		}
	}
	.col-left {
		padding-right:@blh/2;
	}
	.col-right {
		padding-left:@blh/2;
	}
    label {
		margin-bottom:@base-line-height/4;
    }
    label.left {
        display: block;
        font-weight: bold;
    }
    label.right {
        color: #888;
    }
    .date {
        .middleColumn {
            input {
                width: 114px;
            }
        }
    }
    .requiredField {
        label.left:after {
            color: #B94A48;
            content: "*";
            font-weight: normal;
            padding-left: 3px;
        }
    }
    div.checkbox:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .field.checkbox {
		margin:@base-line-height / 2 0;
        .checkbox {
            clear: both;
        }
		label {
			margin-top:0;
			margin-bottom:0;
		}
    }
    input.holder-required {
        border: 1px solid #cf0000;
    }
	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}
	input.text,textarea,.textajaxuniquetext,select,.select2-choices{
		width: 100%;
		max-width: @base-line-height*20;
		padding: @base-line-height/4 @base-line-height/2;
		height:@base-line-height * 1.5;
		.box-sizing();       
		border: 1px solid #ccc;
		color:#333;
		.border-radius(6px);
	}

	input.text:focus,textarea:focus,.textajaxuniquetext:focus,select:focus {
		outline:none;
		background-color: #eee;
	}
	input[disabled],textarea[disabled] {
		background-color: #f7f7f7;
		border: 1px solid #dad9d9;
	}
	textarea {
		resize: vertical;
		height:auto;
	}
	.field .checkbox, .field .radio {
		float: left;
		width: @base-line-height/2;
		height: @base-line-height/2;
		margin-right: @base-line-height/4;
		margin-top: @base-line-height/4;
		padding: 0;
	}
	.description {
		color:#ccc;
		display:inline-block;
		padding-top:@base-line-height/4;
		padding-bottom:@base-line-height/4;
		font-size:0.9em;
	}
	.checkbox label.right,.radio label.right {
		float: left;
	}
	input.bad {
        background-color: @bad-color;
        border-color: darken(@bad-color,15%);
	}
	.Actions {
		clear:both;
		margin-top: @base-line-height;
		margin-bottom: @base-line-height;
		.clearfix();

		input, button, a {
			float:left;
		}
	}
	&.centered-actions .Actions {
		text-align:center;
		
		input, button, a {
			float:none;
		}
	}

	input.action[class] {
		width: auto;
	}
	.Actions:after {
		color: #B94A48;
		display: inline-block;
		font-weight: normal;
		margin-top: 9px;
	}
	#MemberLoginForm_LoginForm {
		.Actions:after {
			display: none;
		}
	}
	#Remember {
		min-height: 20px;
	}
	#ForgotPassword {
		clear: left;
	}
	#MemberLoginForm_LostPasswordForm {
		.Actions:after {
			display: none;
		}
	}
	.FormHeading {
		clear: both;
		padding-top: 15px;
	}
	.Actions input.resetformaction,.Actions input.action-minor {
		float: left;
		background-color: #888;
	}
	.Actions input.resetformaction:hover,.Actions input.action-minor:hover {
		background-color: #aaa;
	}
	.checkbox {
		label.right {
			margin-right:10px
		}
	}
	.checkboxset ul,.optionset ul {
		margin: 0;
	}
	.checkboxset li,.optionset li {
		margin-bottom: 5px;
		list-style-type:none;
	}
	span.message {
		margin: 10px 0;
		display: block;
		max-width: 390px;
		clear: left;
	}
	span.message.required {
		color:darken(@bad-color,15%);
		background:transparent;
		padding:0;
		border:0;
	}
	div.holder-required {

	}
	input:invalid,textarea:invalid {
	}
	.no-boxshadow input:invalid,.no-boxshadow textarea:invalid {
		background-color: #f0dddd;
	}
	.ss-uploadfield-item-info {
		button {
			margin-top: 4px !important;
			float: left;
		}
	}
	.creditCardField input,input.currency,input.numeric {
		width: 50px;
	}
	#DMYDate-month,#DMYDate-day {
		width: 25px;
	}

	input, textarea, select {
		&.autocompleted {
			background:darken(@good-color,10%);
		}
		&.not-autocompleted {
			background: #fec;
		}
	}
	.ss-upload .ss-uploadfield-fromcomputer input {
		visibility: hidden;
	}
	.ss-uploadfield .middleColumn {
		min-width: 200px !important;
	}
	input.sexy-password {
		max-width:300px;
	}
}

ul.sp-restrictions {
	padding-top:5px;

	li {
		color:#666;
		font-size:11px;
		margin-bottom:0;
	}
	li.invalid {
		color:red;
	}
	li.valid {
		color:green;
	}
}

// Default SearchForm

#SearchForm_SearchForm {
	margin-top:@base-line-height/4;
	margin-bottom:0;
	min-width:240px;

	.middleColumn, .field {
		display:inline-block;
		margin:0;
		float:left;
		clear:none;
	}
}

// Parsley styles

@-webkit-keyframes parsleyFadeIn { 
	0% { opacity: 0; }
	20% { opacity: 0; }
	40% { opacity: 0.3; }
	60% { opacity: 0.5; }
	80% { opacity: 0.9; }
	100% { opacity: 1; }
}

@keyframes parsleyFadeIn {
	0% { opacity: 0; }
	20% { opacity: 0; }
	40% { opacity: 0.3; }
	60% { opacity: 0.5; }
	80% { opacity: 0.9; }
	100% { opacity: 1; }
}

.parsley-errors-list {
	list-style-type: none;
	font-size: 0.8em;
	line-height: 1em;
	height: 0;
	.opacity(0);
	color:darken(@bad-color,15%);
	display:none;
	.transition(opacity, 0.3s, ease-out);
}

.parsley-errors-list.filled {
	padding: @base-line-height / 4 0;
	height: auto;
	.opacity(1);
	display:block;
	-webkit-animation-name: parsleyFadeIn;
	-webkit-animation-duration: .3s;
	animation-name: parsleyFadeIn;
	animation-duration: .3s;
}

form {
	input,select,textarea {
		&.parsley-success {
			color: #111 !important;
			background-color: darken(@good-color,10%) !important;
			border-color: @good-color !important;
		}

	}

	input,select,textarea {
		&.parsley-error {
			color: #eee !important;
			background-color: darken(@bad-color,15%) !important;
			border-color: @bad-color  !important;
		}
	}
}